.agreement-title h2{
	font-size: 32px;
}

.agreement-block{
	display: flex;
	
}
.agreement-block label{
	color:#6F8086;
	font-size: 14px;
}
.checkbox-content{
	text-align: left;
}
.privacy{
	margin-top: 0;
	margin-bottom: 2px;
	font-size: 12px;
	color: #2ECFBF;
	cursor: pointer;
	font-weight: 700;
}
.agreement-flex{
	display: flex;
	justify-content: center;
}
.agree-title{
	text-align: left;
	font-size: 12px;
	color:#6F8086;
	font-weight: 700;
	padding-bottom: 10px;
}